@charset "UTF-8";

.lightGrey {
	background-color: #F1F1F1;
}

.clear
{
        clear:both;
}

#container {
	width: 80%;
	margin: 60px auto 0 auto;
	position:relative;
	border-top: 5px solid #FF9800;
	border-bottom: 5px solid #FF9800;
}

#header {
	height: 50px;
	background-color: #2196F3;
	position: relative;
}

#header h1 {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 35px;
	color: #FFFFFF;
	letter-spacing: 5px;
	padding-top: 5px;
	margin: 0px;
}

#content {
	height: 400px;
}

#leftSide {
	float:left;
	width: 35%;
}

#leftSide img {
	width: 90%;
	margin: 0 auto 0 auto;
}

#rightSide {
	width: 65%;
	float:right;
}

#rightSide h1 {
	text-align: center;
	letter-spacing: 5px;
	color: #FF9800;
	font-size: 30px;
	font-family: 'Varela Round', sans-serif;
	padding-top:7px;
	margin: 7px 0px 0px 0px;
	
}

#rightSide h3 {
	text-align: center;
	letter-spacing: 5px;
	color: #FF9800;
	font-size: 24px;
	font-family: 'Varela Round', sans-serif;
	padding-top:7px;
	margin: 7px 0px 0px 0px;
	
}

#rightSide form label {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	color: #FF9800;
	text-align: center;
}

/* #rightSide form  */
.form input {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #FF9800;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}

.form select {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #FF9800;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}

#rightSide a {
	text-decoration: none;
	}
	
#footer {
	width: 100%;
	height: 40px;
	background-color: #2196F3;
}



.button1 {
	width: 95%;
	margin: 10px auto 0 auto;
	background: #ffb700;
    background-image: -webkit-linear-gradient(top, #ffb700, #FF9800);
    background-image: -moz-linear-gradient(top, #ffb700, #FF9800);
    background-image: -ms-linear-gradient(top, #ffb700, #FF9800);
    background-image: -o-linear-gradient(top, #ffb700, #FF9800);
    background-image: linear-gradient(to bottom, #ffb700, #FF9800);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.button1:hover {
	background: #FF9800;
    background-image: -webkit-linear-gradient(top, #FF9800, #FF9800);
    background-image: -moz-linear-gradient(top, #FF9800, #FF9800);
    background-image: -ms-linear-gradient(top, #FF9800, #FF9800);
    background-image: -o-linear-gradient(top, #FF9800, #FF9800);
    background-image: linear-gradient(to bottom, #FF9800, #FF9800);
    text-decoration: none;
}

.button {
	width: 100%;
	background: #ffb700;
    background-image: -webkit-linear-gradient(top, #ffb700, #FF9800);
    background-image: -moz-linear-gradient(top, #ffb700, #FF9800);
    background-image: -ms-linear-gradient(top, #ffb700, #FF9800);
    background-image: -o-linear-gradient(top, #ffb700, #FF9800);
    background-image: linear-gradient(to bottom, #ffb700, #FF9800);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
	background: #FF9800;
    background-image: -webkit-linear-gradient(top, #FF9800, #FF9800);
    background-image: -moz-linear-gradient(top, #FF9800, #FF9800);
    background-image: -ms-linear-gradient(top, #FF9800, #FF9800);
    background-image: -o-linear-gradient(top, #FF9800, #FF9800);
    background-image: linear-gradient(to bottom, #FF9800, #FF9800);
    text-decoration: none;
}

#footer p {
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Ubuntu Condensed', sans-serif;
	padding-top:7px;
	margin: 0px;
}

.loginTable {
	width:80%;
	margin: 0 auto 0 auto;
	float:right;
}

.scrollWindow {
	padding-top:20px;
	height: 240px;
	overflow: auto;
}

.optionList {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 25px;
	margin-botom:20px;
	color: #FF9800;
}

.optionList input{ 
	padding-top: 20px;
	}

.alignRight {
	float: right;
	 }
	 
.alignLeft {
	float: left;
	 }

#rightSide p {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 25px;
	color: #FF9800;
}

.word {
	padding-top: 120px;
	text-align: center;
	font-size: 40px !important;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 10px !important;
	color: #FF9800 !important;
	margin-bottom: 20px;
}

.smallFont {
	font-size: 17px !important;
}

#demo {
	position:fixed;
	bottom: 0px;
	left: 0px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Ubuntu Condensed', sans-serif;
/*     position:relative; */
/*     top: -300px; */
}

.table th, td {
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(odd) {background-color: #FFFFFF;}
.table tr:nth-child(even) {background-color: #F1F1F1;}